@model List<Models.EF.Post>

<ul class="small_catg popular_catg wow fadeInDown">
    @foreach (var post in Model)
    {
        <li>
            <div class="media wow fadeInDown">
                <a class="media-left" href="/the-loai/@post.ContentDetail/tin-chi-tiet/@post.MetaTitle-@post.PostID"><img src="@post.Image" alt=""></a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="/the-loai/@post.ContentDetail/tin-chi-tiet/@post.MetaTitle-@post.PostID">@post.Title</a></h4>
                    <p>@post.Decription</p>
                </div>
            </div>
        </li>
    }
</ul>